#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    fill: #cf6f49;
  }
}
